

.outer-box {
    width: 400px;
    height: 400px;
    background-color: lightcoral;
    padding: 10% 20% 20% 10%; 
    margin: 50% auto; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); 
}


.middle-box {
    width: 100%;
    height: 100%;
    background-color: yellow;
    padding:10% 20% 10% 15%; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); 
}


.inner-box {
    width: 50%;
    height: 55%;
    background-color: aqua;
    padding:0% 0% 5% 50%; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); 
}


